
{% extends "base.html" %} 

{% block css %}
    <link href="/static/css/addrecipe.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/loginjs.css"> 
{% endblock %}

{% block title %} 
<title>Add Recipe</title>
{% endblock %}



{% block main %}
<h1 class="mt-5 fw-bold text-center">Add Recipe</h1>
<div class="error">
    {% include 'flashmssgs.html' %}
  </div>
<div class="container modal-content animate bg-form py-5 center my-5">
    <div>
        <!-- <p></p>  Success Message -->
    </div>
    <form action="{{ url_for('addrecipe') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token}}
        <div class="grid">
            <div class="form-group d-flex flex-column">   
                {{form.recipe_name.label(class="center fw-bold fs-5")}}
                {{form.recipe_name}}
            </div>
            <div class="form-group d-flex flex-column">
                {{form.calorie_count.label(class="center fw-bold fs-5")}}
                {{form.calorie_count}}
            </div>
        </div>
        <div class="grid mt-4">
            <div class="form-group d-flex flex-column">   
                {{form.serving.label(class="center fw-bold fs-5")}}
                {{form.serving}}
            </div>
            <div class="form-group d-flex flex-column">
                {{form.prep_time.label(class="center fw-bold fs-5")}}
                {{form.prep_time(placeholder="Time in minutes")}}
            </div>
        </div>
        <div class="form-group mt-5 ms-5">
            {{form.image.label(class="me-4 fw-bold fs-5")}}
            {{form.image}}
        </div>
        <div class="mt-5 px-3">
            <div class="grid-3 gap-20">
                <select class="form-select" name="ingredient" id="ingredient">
                </select>
                <select class="form-select" name="measurememt" id="measurement">
                </select>
                <a href="#" class='btn px-2 p-2 bg-header text-white ai '>Add Ingredient</a>
            </div>
        </div>
        <table class="mt-4 sel-ing center-lr hidden">
        </table>
        <div class="mt-5 m-1 btn-container">
            <input class="center" type="text" name="instruction" id="instruction" placeholder="e.g Stir for 2 mins">
            <a href="#" class='btn px-2 p-2 bg-header text-white instruct center'>Add Instruction</a>
        </div>
        <table class="mt-4 sel-ins center-lr hidden">
        </table>
        <button class="btn bg-btn text-white fs-5 mt-4 center-lr add" type="submit">Add Recipe</button> 
    </form>
</div>
{% endblock %}

{% block js %}
<script src="/static/js/addrecipe.js"></script>
{% endblock %}
