
{% extends "base.html" %} 

{% block css %}
    <link href="/static/css/addrecipe.css" rel="stylesheet"> 
    <!-- <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}

{% block title %} 
<title>Add Recipe</title>
{% endblock %}



{% block main %} 
<div class="add_container">
    <h1>Add Recipe</h1>
    <div class="add_btn">
        <form>{{form.add}}<br></form>
    </div>
    
    <div class="form_container">
        <!-- <h1>Add Recipe</h1>

            <form>{{form.add}}<br><br></form> -->
            <form>

            <div class="">   
                {{form.recipe_name.label}}<br>
                {{form.recipe_name(size=30)}}
            </div>

            <div>
                {{form.calorie_count.label}}<br>
                {{form.calorie_count}}
            </div>
                

            <div>
                {{form.serving.label}}<br>
                {{form.serving}}
            </div>

            <div>
                {{form.prep_time.label}}<br>
                {{form.prep_time}}
            </div>
                

            <div>
                {{form.image.label}}
                {{form.image}}<br><br>
            </div>

                {{form.ingredients.label}}
                {{form.ingredients}}<br><br>

                {{form.instructions.label}}
                {{form.instructions}}<br><br>

            </form>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
