{% extends "base.html" %}

{% block title %}
<title>Project Generate Plan</title>
{% endblock %}

{% block css %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="btn-container my-5">
        <h1 class="fw-bold"> Generate Recipes:</h1>
        <div class="d-flex flex-row ">
            <input type="text" class="form-control me-4" placeholder="How Many Total Calories?">
            <a href="#" class='btn py-2 px-4 bg-btn text-white'>Generate</a>
        </div>
    </div>
    <div class='mb-5 card-section'>
        <div class="btn-container mb-2">
            <h2 class="fw-bold text-capitalize mb-3"> Meal Plan: Kadhjskandkjsahd</h2>
            <h3 class="fw-bold mb-3"> Total Calories: 54856</h3>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 1</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 2</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 3</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 4</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 5</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 6</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
        <div class="day section mb-5">
            <h4 class="text-decoration-underline">Day 7</h4>
            <h5>Breakfast</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Lunch</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
            <h5>Dinner</h5>
            <div class="py-2 card grid-card mb-3">
                <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                <div class="btn-container">
                    <div>
                        <p class="text-capitalize fw-bold fs-5 nbm">Name of Recipe</p>
                        <p class="fs-6 fw-light nbm">Servings: 6</p>
                    </div>
                    <p class="nbm me-4">Created: 2020-03-12</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}