{% extends "base.html" %}

{% block title %}
<title>Project Generate Plan</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/loginjs.css"> 
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/generate.js')}}"></script>
{% endblock %}


{% block main %}
<div class="container min">
    <div class="flash"></div>
    <div class="btn-container my-5">
        <h1 class="fw-bold"> Generate Recipes:</h1>
        <div class="d-flex flex-row ">
            <input type="text" class="form-control me-4 cal" placeholder="How Many Total Calories?">
            <a href="#" class='btn py-2 px-4 bg-btn text-white gen'>Generate</a>
        </div>
    </div>
    <div class='mb-5 card-section hidden'>
        <div class="meal"></div>
        <input  type="text" class="center-lr" name="name" id="name" placeholder="Enter Name for Meal Plan">
        <button class="btn bg-btn text-white fs-3 ms-3 center save">Save Plan</button>
    </div>
</div>
{% endblock %}