<nav class="p-3 bg-header mb-3 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{url_for('home')}}" class="nav-link px-2 text-white">Home</a></li>
          {% if log == True %}
            <li><a href="{{url_for('profile')}}" class="nav-link px-2 text-white">Profile</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button">
                Create
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{url_for('plan')}}">Create Meal Plan</a></li>
                <li><a class="dropdown-item" href="#">Create Recipe</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Create Shopping List</a></li>
              </ul>
            </li>
            <li><a href="#" class="nav-link px-2 text-white">Find</a></li>
          {% endif %}
        </ul>
  
        <div class="text-end">
          {% if log == True %}
            <a type="button" class="btn btn-outline-light me-2" href="#">Logout</a>
          {% else %}
            <a type="button" class="btn btn-outline-light me-2" href="{{ (url_for('login')) }}" >Login</a>
            <a type="button" class="btn btn-warning" href="{{ (url_for('Signup')) }}">Sign-up</a>
          {% endif %}
        </div>
      </div>
    </div>
</nav>