<nav class="p-3 bg-dark mb-3 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href=" {{ url_for('login') }}" class="nav-link px-2 text-white">Login</a></li>
          <li><a href="{{ url_for('Signup') }}" class="nav-link px-2 text-white">Sign Up</a></li>
          <li><a href="{{ url_for('Search') }}" class="nav-link px-2 text-white">Search</a></li>
        </ul>
  
       
        
      </div>
    </div>
</nav>