{% extends "base.html" %}

{% block title %}
<title>Project Home</title>
{% endblock %}

{% block css %}
{% endblock %}


{% block main %}
<div class="container card-min">
    <div class="card my-5">
        <div class="mt-3 grid">
            <img class='pic' src="{{ url_for('get_image', filename=info[5])}}" alt="" onerror="this.onerror=null;this.src='/static/img/dinner_dining_black_24dp.svg';">
            <div class="info">
                <h5 class="fw-bold">Recipe Name: {{ info[2] }}</h5>
                <p>Calorie Count: {{ info[6] }}</p>
                <p>Prep Time: {{ info[3] }} mins</p>
                <p>Servings: {{ info[4] }}</p>
            </div>
        </div>
        
        <div class="grid">
            <div class="ms-3 p-2">
                <h5 class="fw-bolder text-decoration-underline">Ingredients</h5>
                <ul>
                    {% for i in ingredients %}
                        <li>{{i[0]}} {{i[1]}} {{i[2]}}</li>
                    {% endfor %}
                </ul>

            </div>
            <div class="instruct">
                <h5 class="fw-bolder text-decoration-underline">Instructions</h5>
                <ol>
                    {% for i in instruct %}
                        <li>{{i[1]}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}