{% extends "base.html" %}

{% block title %}
<title>Project Home</title>
{% endblock %}

{% block css %}
{% endblock %}


{% block main %}
<div class="container">
    <div class="card my-5">
        <div class="grid">
            <img class='pic' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
            <div class="info">
                <h5 class="fw-bold">Recipe Name: skdjfhdshfkjh</h5>
                <p>Calorie Count: 45875</p>
                <p>Prep Time: 45875 mins</p>
                <p>Servings: 8</p>
            </div>
        </div>
        
        <div class="grid">
            <div class="p-2">
                <h5 class="fw-bolder text-decoration-underline">Ingredients</h5>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                </ul>

            </div>
            <div class="instruct">
                <h5 class="fw-bolder text-decoration-underline">Instructions</h5>
                <ol>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, eius!</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}