{% extends "base.html" %}

{% block title %} 
<title>Search</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/loginjs.css"> 
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}


{% block main %}
<div class="error">
    {% include 'flashmssgs.html' %}
</div>
<div class="container min">
    <h2 class="fs-1 my-5">Search</h2>
    <form class="text-center d-flex flex-column" action="{{url_for('search')}}" method="POST">
        <div class='btn-container'>
            {{ form.csrf_token }}
            {{ form.search(class="center srch", placeholder="Search") }}
        
            <button class="btn bg-btn text-white fs-4 add" type="submit">Search</button>
        </div>
        <div class="mt-3 ms-5 d-flex flex-row">
            {{ form.match.label(class="me-4 fw-bold")}}
            {% for i in form.match %}
                <div class="form-check form-check-inline">
                    {{ i(class="form-check-input")}}
                    {{ i.label(class="form-check-label")}}
                </div>
                {% endfor %}
        </div>
    </form>
    <div class="my-5 card-section">
        {% if results == 'NY' %}
            <p class="text-center text-capitalize fw-bold fs-5 nbm">Please enter a Search Term</p>
        {% elif results == [] %}
            <h1 class="ms-3 fw-bold my-5"> Search Results:</h1>
            <div class="card">
                <p class="center text-capitalize fw-bold fs-5 nbm">NO SEARCH RESULTS</p>
            </div>
        {% else %}
            <h1 class="ms-3 fw-bold my-5"> Search Results:</h1>
            {% for i in results %}
                {% if t == 'R' %}
                    <a href="{{ url_for('recipe', id=i[0])}}"><div class="py-2 card grid-card mb-3">
                        <img class='image' src="{{ url_for('static', filename='img/dinner_dining_black_24dp.svg')}}" alt="">
                        <div class="btn-container">
                            <div>
                                <p class="text-capitalize fw-bold fs-5 nbm">{{ i[1] }}</p>
                                <p class="fs-6 fw-light nbm">Servings: {{ i[2] }}</p>
                            </div>
                            <p class="nbm me-4">Calories: {{ i[3] }}</p>
                        </div>
                    </div></a>
                {% elif t == 'M'%}
                    <a href="{{url_for('plan_view', id=i[0])}}"><div class="py-3 card grid-card mb-3">
                        <img class='image' src="{{ url_for('static', filename='img/menu_book_black_24dp.svg')}}" alt="">
                        <div class="btn-container">
                            <div>
                                <p class="text-capitalize fw-bold fs-5 nbm">{{ i[1]}}</p>
                            </div>
                            <p class="nbm me-4">Created: {{ i[2]}}</p>
                        </div>
                    </div></a>
                {% endif %}
            {% endfor %}
        {% endif%}
    </div>
</div>
{% endblock %}