{% extends "base.html" %}

{% block title %}
<title>Project Sign Up</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/loginjs.css"> 
{% endblock %}


{% block main %}
<div class="modal-content animate bg-form py-5 center my-5">
  <h2 class="center fs-3 mb-4">SIGN UP </h2>
  {% include 'flashmssgs.html' %}
  <form class="text-center d-flex flex-column" action="{{url_for('signup')}}" method="POST">
    {{ form.csrf_token }}
    {{ form.username.label(class="fw-bold fs-5") }}
    {{ form.username(class="center", placeholder="Username") }}

    {{ form.password.label(class="fw-bold fs-5 mt-3") }}
    {{ form.password(placeholder="Password") }}

    {{ form.fname.label(class="fw-bold fs-5 mt-3") }}
    {{ form.fname(placeholder="First Name")}}

    {{ form.lname.label(class="fw-bold fs-5 mt-3") }}
    {{ form.lname(placeholder="Last Name")}}

    <button class="btn bg-btn text-white fs-3 mt-4 center" type="submit">Sign Up</button> 
  </form>
</div>
{% endblock %}
